.App {
  text-align: center;
  background-color: #BBDD99;
  color: white;
}

.Button {
  color: #286090;
}

.TextField {
  color: white;
}

.disabled {
  color: white;
}

.App-header {
  background-color: #BBDD99;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
